.header {
  background-color: #F57209;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding-left: 43px;
  padding-right: 28px;
}

.user_menu {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.user_logo_container {
  display: flex;
  align-items: baseline;
  font-size: 21px;
}

.logo {
  display: inline-block;
  margin-right: 21px;
}

.menu_opener {
  display: inline-block;
  margin-left: 9px;
}

